@import"./variables.scss";

.home{
    width: 100vw;
    height:100vh;
    .header-container{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height:20rem;
        background:center/cover no-repeat url(../img/home-background.jpg);
        .title{
               display: flex;
               justify-content: center;
               text-align: center;
               &__background{
                  width: 20rem;
                  background-color:$background-color;
                  flex-shrink: 0;
                  border-radius: 0.3rem;
                  span{
                      font-size: 1.2rem;
                  }
               }  
            }
        nav{
            display: flex;
            justify-content: center;
            margin-bottom: 8.4rem;
            .nav-links { 
                   display: flex;
                   background: $background-color;
                   justify-content: space-around;
                   align-items: center;   
                   border-radius: 0.3rem;         
                   li {
                       flex-shrink: 0;
                      .current{
                          @include highlight-current;
                      }
                       a{
                        display: block;
                        padding:0.4rem 1.5rem;
                        color: $text-color;
                        font-size: 1.2rem;
                         &:hover{
                        color:$text-hovered;
                        background: $background-hovered;
                       }
                      }
                   }
               }
            }      
    }
    .introduce{
        display: flex;
        flex-direction: column;
        align-items: center;
        position:relative;
        height:auto;
        margin-bottom: 1.5rem;
        img{
            position:absolute;
            display: block;
            width:12rem;
            height:12rem;
            border-radius: 50%;
            border:solid $text-hovered 0.8rem;
            margin-top: -6rem;
        }
        .social-icon{
            margin-top: 6.5rem;
            width:30%;
            display: flex;
            justify-content: space-evenly;
            i{
                padding:0.35rem;
                border:solid $text-color 0.3px;
                border-radius: 50%;
                color:$text-color;
                cursor: pointer;
                &:hover{
                    color:$background-hovered;
                    border:solid $background-hovered 0.3px;
                }

            }
        }
        h3{
            padding-top: 1rem;
            
        }
        p{
            padding-top:0.5rem;
            // overflow-y: scroll;
        }
        &__border{
            height:0.15rem;
            width:8rem;
            background-color:$background-color;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        &__detail{
            display: flex;
            flex-direction: column;
            justify-content:space-around;
            align-items: center;
            width:50%;
            height: auto;
            background: $background-hovered;
            border-radius: 0.3rem;
            box-shadow: 3px 3px 3px $background-hovered;
         &__content{
            display:flex;
            justify-content: space-around;
            & p{
              
               width:40%;
            }    
        }
        &__button--click{
            background:$background-hovered;
            border:none;
            color:$text-hovered;
            padding:0.3rem 0.5rem;
            cursor: pointer;
            border:solid 0.15rem $text-hovered;
            border-radius: 0.3rem;
            margin:0.5rem auto;
            &:hover{
                background:rgba(71, 45, 11, 0.7);
            }
        }
      }

    }
    .footer-container{
        height:2.5rem;
        background: $background-color;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    
}

@media screen and (max-width:945px) {
    .home{
        .about-me{
            &__detail{
                width:75%;
                &__content{
                    flex-direction: column;
                    align-items: center;
                    & p{
                        
                        width:85%;
                        margin-bottom: 0.5rem;
                     }  
                }
            }
        }

    }



}

